{
  "timer_wait": 60.0, 
  "DS18B20_sensor_path" : "testdata/", 
  "thingspeak_channel_key" : "PV88FZQRJBVVA8L8", 
  "sensors" :
  [
    {"type" : "DHT22", "id" : "23", "temperature" : "field1", "humidity" : "field2"},
    {"type" : "DS18B20", "id" :"28-000009aeb943", "temperature" :  "field3"},
    {"type" : "DS18B20", "id" :"28-000009aea5a6", "temperature" :  "field4"},
  ] 
}