{
  "timer_wait": 120.0,
  "trace_level" : "WARN",
  "sensors" :
  [
    {"type" : "DHT22", "id" : "22", "temperature" : "field1", "humidity" : "field2"},
    {"type" : "DHT22", "id" : "23", "temperature" : "field3", "humidity" : "field4"},
  ],
  "logging" :
  {
    "trace" : {"level" : "INFO"},
    "thingspeak" : {"channel_key" : "3F8ULIM0IOUB6NMM"}
  }
}