{
  "timer_wait": 3.0,
  "DS18B20_sensor_path" : "testdata/", 
  "trace_level" : "INFO",
  "sensors" :
  [
    {"type" : "DHT22", "id" : "23", "temperature" : "field1", "humidity" : "field2"},
    {"type" : "DS18B20", "id" :"28-000009aeb943", "temperature" :  "field3"},
    {"type" : "DS18B20", "id" :"28-000009aea5a6", "temperature" :  "field4"},
  ],
  "logging" :
  {
    "trace" : {"level" : "ALWAYS"},
  }, 
  "actions" :
  [
    {"type" : "TRACE", "condition" : "val['field4'] > 40", "level" : "WARN"} 
  ] 
}