{
  "timer_wait": 60.0,
  "DS18B20_sensor_path" : "/sys/bus/w1/devices/"", 
  "trace_level" : "WARN",
  "sensors" :
  [
    {"type" : "DS18B20", "id" :"28-000009aeb943", "temperature" :  "field1"},
    {"type" : "DS18B20", "id" :"28-000009ae59c2", "temperature" :  "field2"},
    {"type" : "DS18B20", "id" :"28-000009aea5a6", "temperature" :  "field3"},
    {"type" : "DS18B20", "id" :"28-000009ad86c2", "temperature" :  "field4"},
  ],
  "logging" :
  {
    "trace" : {"level" : "INFO"},
    "thingspeak" : {"channel_key" : "PV88FZQRJBVVA8L8"}
  }
}